<div class="ms-1">
    <label>Appointments Management</label>
    <button type="button" (click)="clickAddButton()" class="btn btn-danger"
        style="background-color: green;margin-left: 800px">Add</button>
    <button type="button" (click)="clickFindButton()" class="btn btn-danger"
        style="background-color: green;">Find</button>
    <button type="button" (click)="clickEditButton()" class="btn btn-danger"
        style="background-color: green;">Edit</button>
    <button type="button" (click)="clickDelButton()" class="btn btn-danger"
        style="background-color: green;">Del</button>
    <button type="button" (click)="clickResetButton()" class="btn btn-danger"
        style="background-color: rgb(48, 127, 201);">Reset</button>
    <br>
    <input type="text" id="appId" name="id" style="width: 40px" [(ngModel)]="appointmentWork.id">
    <input  type="text" id="appOwnerName" name="OwnerName" style="width: 250px" [(ngModel)]="appointmentWork.pet.owner.name">
    <input type="text" id="appPetName" name="petName" style="width: 150px" [(ngModel)]="appointmentWork.pet.name">
    <input type="text" id="appReason" name="reason" style="width: 200px" [(ngModel)]="appointmentWork.reason">
    <input type="text" id="appVetName" name="veterinaryName" style="width: 250px" [(ngModel)]="appointmentWork.veterinary.name">
    <input type="date" id="appInitDay" name="initDay" style="width: 120px" [(ngModel)]="schDayWork.startDay">
    <input type="time" id="appInitTime" name="initTime" style="width: 80px" [(ngModel)]="schDayWork.startTime">
    <input type="date" id="appEndTDay" name="endDay" style="width: 120px" [(ngModel)]="schDayWork.stopDay">
    <input type="time" id="appEndTime" name="endTime" style="width: 80px" [(ngModel)]="schDayWork.stopTime">
    <br><br>
</div>
<div class="ms-1">
    <p style="margin-left: 0.5vw;">Appointments list</p>
</div>
<div class="ms-1">
    <!-- <label>List of veterinarians ordered by : </label>
    <input type="radio" name="option" id="option1" (click)="clickOrdereByName()">
    <label for="option1">  Name</label>
    <input type="radio" name="option" id="option2" (click)="clickOrdereBySpeciality()">
    <label for="option2">Speciality</label> -->

    <table class="table table-striped table-hover table-bordered" style="width:fit-content">
        <thead>
            <tr>
                <th style="width:40px">id</th>
                <th style="width:250px">owner name</th>
                <th style="width:150px">pet name</th>
                <th style="width:200px">reason</th>
                <th style="width:250px">veterinary name</th>
                <th style="width:100px">init date</th>
                <th style="width:100px">init time</th>
                <th style="width:100px">end date</th>
                <th style="width:100px">end time</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let app of appointmentsist" (click)="clickListItemApp(app)">
                <td>{{app.id}}</td>
                <td>{{app.pet.owner.name}}</td>
                <td>{{app.pet.name}}</td>
                <td>{{app.reason}}</td>
                <td>{{app.veterinary.name}}</td>
                <td>{{app.initTime | date :"dd/MM/yyyy"}}</td>
                <td>{{app.initTime | date :"hh:mm"}}</td>
                <td>{{app.endTime | date :"dd/MM/yyyy"}}</td>
                <td>{{app.endTime | date :"hh:mm"}}</td>
            </tr>
        </tbody>
    </table>

</div>