<div class="container" style="margin-bottom: 5px;">
    <label>Appointments Management</label>
    <button type="button" (click)="clickAddButton()" class="btn btn-success"
        style="margin-left: 500px">Add</button>
    <button type="button" (click)="clickFindButton()" class="btn btn-success"
        style="margin-left: 1px;">Find</button>
    <button type="button" (click)="clickEditButton()" class="btn btn-success"
        style="margin-left: 1px;">Edit</button>
    <button type="button" (click)="clickDelButton()" class="btn btn-success"
        style="margin-left: 1px;">Del</button>
    <button type="button" (click)="clickResetButton()" class="btn btn-secondary"
        style="margin-left: 1px;">Reset</button>
   
    <!-- <input type="text" id="appId" name="id" style="width: 50px" [(ngModel)]="appointmentWork.id">
    <input type="text" id="appOwnerName" name="OwnerName" style="width: 250px"
        [(ngModel)]="appointmentWork.pet.owner.name">
    <input type="text" id="appPetName" name="petName" style="width: 150px" [(ngModel)]="appointmentWork.pet.name">
    <input type="text" id="appReason" name="reason" style="width: 200px" [(ngModel)]="appointmentWork.reason">
    <input type="text" id="appVetName" name="veterinaryName" style="width: 250px"
        [(ngModel)]="appointmentWork.veterinary.name">
    <input type="date" id="appInitDay" name="initDay" style="width: 120px" [(ngModel)]="schDayWork.startDay">
    <input type="time" id="appInitTime" name="initTime" style="width: 80px" [(ngModel)]="schDayWork.startTime">
    <input type="date" id="appEndTDay" name="endDay" style="width: 120px" [(ngModel)]="schDayWork.stopDay">
    <input type="time" id="appEndTime" name="endTime" style="width: 80px" [(ngModel)]="schDayWork.stopTime"> -->

</div>

<div class="ms-1">
    <!-- <p style="margin-left: 0.5vw;">Appointments list</p> -->
    <label>Type of list : </label>
    <input type="radio" name="option" id="option1" checked [defaultValue]="true" value="allAppointments"
        [(ngModel)]="tipForList" (click)="clickAllAppointments()">
    <label for="option1"> Appointments </label>
    <input type="radio" name="option" id="option1" value="Owners" [(ngModel)]="tipForList" (click)="clickChoseOwners()">
    <label for="option2"> Owners </label>
    <input type="radio" name="option" id="option2" value="Pets" [(ngModel)]="tipForList"
        (click)="clickChosePet(appointmentWork.pet.owner.name)">
    <label for="option3"> Pets </label>
    <input type="radio" name="option" id="option3" value="Veterinarias" [(ngModel)]="tipForList"
        (click)="clickChoseVeterinary()">
    <label for="option4"> Veterinarias </label>
    <input type="radio" name="option" id="option4" value="Schedules" [(ngModel)]="tipForList"
        (click)="clickChoseSchedule(appointmentWork.veterinary.id, schDayWork.startDay)">
    <label for="option5"> Schedule veterinary</label>
    <input type="radio" name="option" id="option5"
        (click)="freeTime(appointmentWork.veterinary.id, appointmentWork.initTime)">
    <label for="option6">Free time slice veterinary</label>
</div>

<div>
    <table class="table table-striped table-hover  table-bordered" style="min-width: 99vw; margin-left: 0.5vw;">
        <thead>
            <tr>
                <th><input type="text" id="appId" name="id" style="width: 50px" [(ngModel)]="appointmentWork.id"></th>
                <th> <input type="text" id="appOwnerName" name="OwnerName" style="width: 250px"
                    [(ngModel)]="appointmentWork.pet.owner.name"></th>
                <th> <input type="text" id="appPetName" name="petName" style="width: 150px" [(ngModel)]="appointmentWork.pet.name"></th>
                <th><input type="text" id="appReason" name="reason" style="width: 200px" [(ngModel)]="appointmentWork.reason"></th> 
                <th><input type="text" id="appVetName" name="veterinaryName" style="width: 250px"
                    [(ngModel)]="appointmentWork.veterinary.name"></th>
                <th><input type="date" id="appInitDay" name="initDay" style="width: 120px" [(ngModel)]="schDayWork.startDay"></th>
                <th><input type="time" id="appInitTime" name="initTime" style="width: 80px" [(ngModel)]="schDayWork.startTime"></th>
                <th><input type="date" id="appEndTDay" name="endDay" style="width: 120px" [(ngModel)]="schDayWork.stopDay"></th>
                <th><input type="time" id="appEndTime" name="endTime" style="width: 80px" [(ngModel)]="schDayWork.stopTime"></th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Owner name</th>
                <th>Pet name</th>
                <th>Reason</th>
                <th>Veterinary name</th>
                <th>Init date</th>
                <th>Init time</th>
                <th>End date</th>
                <th>End time</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let app of appointmentsist" (click)="clickListItemApp(app)">
                <td>{{app.id}}</td>
                <td>{{app.pet.owner.name}}</td>
                <td>{{app.pet.name}}</td>
                <td>{{app.reason}}</td>
                <td>{{app.veterinary.name}}</td>
                <td>{{app.initTime | date :"dd/MM/yyyy"}}</td>
                <td>{{app.initTime | date :"HH:mm"}}</td>
                <td>{{app.endTime | date :"dd/MM/yyyy"}}</td>
                <td>{{app.endTime | date :"HH:mm"}}</td>
            </tr>
        </tbody>
    </table>

</div>