<div style="margin-left: 30px;">
    <label>Pets Management</label>
    <button type="button" (click)="clickAddButton()" class="btn btn-primary" style="background-color: green;margin-left: 500px">Add</button>
    <button type="button" (click)="clickFindButton()" class="btn btn-primary" style="background-color: green;">Find</button>
    <button type="button" (click)="clickEditButton()" class="btn btn-primary" style="background-color: green;">Edit</button>
    <button type="button" (click)="clickDeleteButton()" class="btn btn-primary" style="background-color: green;">Delete</button>
    <button type="button" (click)="clickResetButton()" class="btn btn-primary" style="background-color: rgb(48, 127, 201);">Reset</button>
</div>
<div>
    <input type="text" id="petId" name="id" style="width: 50px"  value="{{petWork.id}}"
    [(ngModel)]="petWork.id">
    <input type="text" id="petSpecies" name="species" style="width: 150px"  value="{{petWork.species}}"
    [(ngModel)]="petWork.species">
    <input type="text" id="petBreed" name="breed" style="width: 150px"  value="{{petWork.breed}}"
    [(ngModel)]="petWork.breed">
    <input type="text" id="petName" name="name" style="width: 250px"  value="{{petWork.name}}"
    [(ngModel)]="petWork.name">
    <input type="text" id="petAge" name="age" style="width: 50px"  value="{{petWork.age}}"
    [(ngModel)]="petWork.age">
    <input type="text" id="petWeight" name="weight" style="width: 100px"  value="{{petWork.weight}}"
    [(ngModel)]="petWork.weight">
    <input type="text" id="petOwner" name="owner" style="width: 250px"  value="{{petWork.owner.name}}"
    [(ngModel)]="petWork.owner.name">
</div>   

<div class="image-container">
    <img [src]="imgPath1" alt="chameleon" class="image" style="margin-left: 30px;">
</div>

<p>Pet list</p>

<div>
    <!-- table>thead>tr>td*5 -->
    <table class="table table-striped table-hover table-bordered" style="width:fit-content">
        <thead>
            <tr>
                <th style="width:50px">Id</th>
                <th style="width:150px">Species</th>
                <th style="width:150px">Breed</th>
                <th style="width:250px">Name</th>
                <th style="width:50px">Age</th>
                <th style="width:100px">Weight</th>
                <th style="width:250px">Owner</th>
            </tr>
        </thead>
    <!-- tbody>tr>td*5-->
        <tbody>
            <tr *ngFor="let pet of petList">
                <td>{{pet.id}}</td>
                <td>{{pet.species}}</td>
                <td>{{pet.breed}}</td>
                <td>{{pet.name}}</td>
                <td>{{pet.age}}</td>
                <td>{{pet.weight}}</td>
                <td>{{pet.owner.name}}</td>
            </tr>
    
        </tbody>
    </table>
 </div>
