<div style="margin-left: 30px;">
    <h3>Veterinaries Page</h3>
</div>

<div class="image-container">
    <img [src]="imgPath" alt="vet" class="image" style="margin-left: 30px;"> 
</div>


<div>
    <!-- table>thead>tr>td*5 -->
    <table class="table table-striped table-hover table bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Speciality</td>
            </tr>
        </thead>
    <!-- tbody>tr>td*5-->
        <tbody>
            <tr *ngFor="let vet of veterinaries">
                <td>{{vet.name}}</td>
                <td>{{vet.phone}}</td>
                <td>{{vet.email}}</td>
                <td>{{vet.speciality}}</td>
            </tr>
    
        </tbody>
    </table>
 </div>
