<div style="margin-left: 10px;">
    <h3>Veterinaries Management</h3>
    <br>
    <!-- <a type="button" class="btn btn-success">Add Veterinary</a> 
    <table class="table table-striped table-hover table-bordered" style="width:fit-content">
        <thead>
            <tr>
                <th style="width:50px"></th>
                <th style="width:250px">Name</th>
                <th style="width:150px">Phone</th>
                <th style="width:250px">mail</th>
                <th style="width:200px">Speciality</th>
                <th style="width:250px">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-danger" style="background-color: green;">Add Veterinary</button>
                </td>
            </tr>
        </tbody>
    </table>
-->
    <input type="text" id="fname" name="fname" style="width: 50px">
    <input type="text" id="fname" name="fname" style="width: 250px">
    <input type="text" id="fname" name="fname" style="width: 150px">
    <input type="text" id="fname" name="fname" style="width: 250px">
    <input type="text" id="fname" name="fname" style="width: 200px">
<br>
    <button type="button" class="btn btn-danger" style="background-color: green;">Add</button>
    <button type="button" class="btn btn-danger" style="background-color: green;">Del</button>
    <button type="button" class="btn btn-danger" style="background-color: green;">Find</button>
    <button type="button" class="btn btn-danger" style="background-color: green;">Edit</button>

    <br><br>

    <table class="table table-striped table-hover table-bordered" style="width:fit-content">
        <thead>
            <tr>
                <th style="width:50px">Id</th>
                <th style="width:250px">Name</th>
                <th style="width:150px">Phone</th>
                <th style="width:250px">mail</th>
                <th style="width:200px">Speciality</th>
                <!--
                <th style="width:220px">Actions</th>
            -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vet of veterinariesList">
                <td>{{vet.id}}</td>
                <td>{{vet.name}}</td>
                <td>{{vet.phone}}</td>
                <td>{{vet.mail}}</td>
                <td>{{vet.speciality}}</td>
                                    <!--
                <td>
                    <a type="button" class="btn btn-info" [routerLink]="['/veterinaries/details', vet.id]">Details</a>
                    <a type="button" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            -->
            </tr>
        </tbody>
    </table>

</div>