h3 {
    color: rgb(30, 30, 36);
}

.image-container {
    display: flex;
  }
  
  .image {
    width: auto; 
    height: 120px; 
    margin-right: 10px; 
  }
  h4 {
    color: indianred;
  }

  ul{
    font-style: oblique;
  }

  table {
    width: 100%;
  }

  input[type="radio"] {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
  }