<div class="ms-1">
    <div>
        <label>Veterinaries Management</label>
        <button type="button" (click)="clickAddButton()" class="btn btn-danger"
            style="background-color: green;margin-left: 500px">Add</button>
        <button type="button" (click)="clickFindButton()" class="btn btn-danger"
            style="background-color: green;">Find</button>
        <button type="button" (click)="clickEditButton()" class="btn btn-danger"
            style="background-color: green;">Edit</button>
        <button type="button" (click)="clickDelButton()" class="btn btn-danger"
            style="background-color: green;">Del</button>
        <button type="button" (click)="clickResetButton()" class="btn btn-danger"
            style="background-color: rgb(48, 127, 201);">Reset</button>
    </div>
    <div>
        <input type="text" id="vetId" name="id" style="width: 50px" value="{{veterinaryWork.id}}"
            [(ngModel)]="veterinaryWork.id">
        <input type="text" id="vetName" name="name" style="width: 250px" value="{{veterinaryWork.name}}"
            [(ngModel)]="veterinaryWork.name">
        <input type="text" id="vetPhone" name="phone" style="width: 150px" value="{{veterinaryWork.phone}}"
            [(ngModel)]="veterinaryWork.phone">
        <input type="text" id="vetMail" name="mail" style="width: 250px" value="{{veterinaryWork.mail}}"
            [(ngModel)]="veterinaryWork.mail">
        <input type="text" id="vetSpeciality" name="speciality" style="width: 200px"
            value="{{veterinaryWork.speciality}}" [(ngModel)]="veterinaryWork.speciality">
    </div>
    <div class="mt-2">
        <label class="mt-2">List of veterinarians ordered by : </label>
        <input class="mx-2" type="radio" name="option" id="option1" (click)="clickOrdereByName()" checked [defaultValue]="true"  value="sortByName" [(ngModel)]="tipSortList">
        <label for="option1">Name</label>
        <input class="mx-2" type="radio" name="option" id="option2" (click)="clickOrdereBySpeciality()" value="sortBySpeciality" [(ngModel)]="tipSortList">
        <label for="option2">Speciality</label>
    </div>
    <table class="table table-striped table-hover table-bordered" style="width:fit-content">
        <thead>
            <tr>
                <th style="width:50px">Id</th>
                <th style="width:250px">Name</th>
                <th style="width:150px">Phone</th>
                <th style="width:250px">mail</th>
                <th style="width:200px">Speciality</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vet of veterinariesList" (click)="clickListItemVet(vet)">
                <td>{{vet.id}}</td>
                <td>{{vet.name}}</td>
                <td>{{vet.phone}}</td>
                <td>{{vet.mail}}</td>
                <td>{{vet.speciality}}</td>
            </tr>
        </tbody>
    </table>

</div>