<div>
    <h3>Employees component</h3>
</div>

<!-- One Way Property Binding -->

<div>
    <!-- <button type="button" disabled>Click me</button> -->
    <button class="btn btn-secondary" type="button" [disabled]="isDisabled" (click)="clickButton()">Click me</button>
    <button mat-flat-button color="primary">Hello</button>
    <br>
    <br>
    <br>
    
</div>

<div class="image-container">

    <!-- <img src=""../assets/img/img1.jpg"" alt="chameleon"> -->
    <img [src]="imgPath" alt="chameleon" class="image">
    <img [src]="imgPath2" alt="photographer" class="image">

</div>

<!-- Interpolation {{}} -->
<div>
    <!-- Afisare lista angajati prin interpolare -->
    <h4>Employees data</h4>
    <p>{{employees | json}}</p>

    <!-- Folosind operatorul Pipe(|) putem sa convertim un input la un format specific -->
    <p>My Date value is: {{myDate | date | uppercase}}</p>
    <p>My Date value is: {{myDate | date:"MM/dd/yy"}}</p>
</div>

<div>
    <!-- Afisare angajati intr-o lista ordonata -->
    <h4>Employees Ordered List</h4>
    <ol>
        <!-- String emp : emplyees -->
        <li *ngFor="let emp of employees">{{emp.name}}, {{emp.age}}, {{emp.job}}, {{emp.company}},
            {{emp.department}}</li>
    </ol>

    <p *ngIf="selectedEmployee">You selected name of emplyee {{selectedEmployee.name}}</p>

    <!-- Afisare angajati intr-o lista neordonata -->
    <ul>
        <li *ngFor="let emp of employees" (click)="clickListItem(emp)">{{emp.name}}, {{emp.age}}, {{emp.job}}, {{emp.company}},
            {{emp.department}}</li>
    </ul>
    
</div>

<!-- Afisare lista angajati intr-un tabel -->
<div>
<!-- table>thead>tr>td*5 -->
<table class="table table-striped table-hover table bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Job</td>
            <td>Company</td>
            <td>Department</td>
        </tr>
    </thead>
<!-- tbody>tr>td*5-->
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.job}}</td>
            <td>{{emp.company}}</td>
            <td>{{emp.department}}</td>
        </tr>

    </tbody>
</table>

<!-- Two-Way Data Binding [(ngModel)] -->
<h4>Two-way Data Binding</h4>
<div>
    <label for="username">Enter Username:</label>
    <input type="text" id="username" [(ngModel)] = "username">
</div>

<div>
    <p>Hello {{username}}!</p>
</div>

</div>