<div class="container" style="margin-bottom: 5px;">
    <label>Owners Management</label>

    <button type="button" (click)="clickAddButton()" class="btn btn-success" style="margin-left: 500px">Add</button>
    <button type="button" (click)="clickFindButton()" class="btn btn-success" style="margin-left: 1px;">Find</button>
    <button type="button" (click)="clickEditButton()" class="btn btn-success" style="margin-left: 1px;">Edit</button>
    <button type="button" (click)="clickDeleteButton()" class="btn btn-success"
        style="margin-left: 1px;">Delete</button>
    <button type="button" (click)="clickResetButton()" class="btn btn-secondary"
        style="margin-left: 1px;">Reset</button>
</div>
<!-- <div>
        <input type="text" id="ownerId" name="id" style="width: 50px" value="{{ownerWork.id}}"
            [(ngModel)]="ownerWork.id">
        <input type="text" id="ownerName" name="name" style="width: 250px" value="{{ownerWork.name}}"
            [(ngModel)]="ownerWork.name">
        <input type="text" id="ownerPhone" name="phone" style="width: 150px" value="{{ownerWork.phone}}"
            [(ngModel)]="ownerWork.phone">
        <input type="text" id="ownerEmail" name="mail" style="width: 250px" value="{{ownerWork.email}}"
            [(ngModel)]="ownerWork.email">
        <input type="text" id="ownerAddress" name="address" style="width: 200px" value="{{ownerWork.address}}"
            [(ngModel)]="ownerWork.address">
    </div> -->

<p style="margin-left: 0.5vw;">Owner list</p>

<div>
    <table class="table table-striped table-hover  table-bordered" style="min-width: 99vw; margin-left: 0.5vw;">
        <thead>
            <tr>
                <th><input class="w-100" type="text" id="ownerId" name="id" style="width: 50px" value="{{ownerWork.id}}"
                        [(ngModel)]="ownerWork.id"></th>
                <th><input class="w-100" type="text" id="ownerName" name="name" style="width: 250px"
                        value="{{ownerWork.name}}" [(ngModel)]="ownerWork.name"></th>
                <th><input class="w-100" type="text" id="ownerPhone" name="phone" style="width: 150px"
                        value="{{ownerWork.phone}}" [(ngModel)]="ownerWork.phone"></th>
                <th> <input class="w-100" type="text" id="ownerEmail" name="mail" style="width: 250px"
                        value="{{ownerWork.email}}" [(ngModel)]="ownerWork.email"></th>
                <th> <input class="w-100" type="text" id="ownerAddress" name="address" style="width: 200px"
                        value="{{ownerWork.address}}" [(ngModel)]="ownerWork.address"></th>
                <th><input class="w-100" type="password" id="vetPassword" name="password" [(ngModel)]="password"></th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ow of ownersList" (click)="clickListItemOw(ow)">
                <td>{{ow.id}}</td>
                <td>{{ow.name}}</td>
                <td>{{ow.phone}}</td>
                <td>{{ow.email}}</td>
                <td>{{ow.address}}</td>
            </tr>
        </tbody>
    </table>
</div>