<!-- Load Navbar Component -->
<app-navbar></app-navbar>
<br>
<br>
<!-- <div>
  <h1>PetWell Clinic</h1>
</div> -->

<!-- load demo component template & employees component -->
<!-- <app-demo></app-demo>
<app-employees></app-employees> -->


<!-- Load Footer Component -->
<!-- <app-footer></app-footer> -->

<!-- template: `
  <main>
    <header class="brand-name">
      <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true">
    </header>
    <section class="content">
      <app-home></app-home>
    </section>
  </main>
`, -->

<app-details></app-details>

<router-outlet></router-outlet>


